/* *{
  font-size: 12px;
} */

.heading{
      font-family: "Libre Baskerville", serif;
  font-weight: bolder;
}

.range-slider{
  height: 8px !important;
}

.range-slider__thumb{
  height: 12px !important;
  width: 12px !important;
}

body {
  font-family: "Joliet", sans-serif;
}

/* loading */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.list {
  list-style: disc;  
  margin-left: 20px; 
}

