@import "tailwindcss";

@font-face {
  font-family: "Joliet";
  src: url("/fonts/Joliet-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.joliet {
  font-family: "Joliet", sans-serif;
}
.poppins{
  font-family: "Poppins", sans-serif;
}
.playfair{
  font-family: "PlayfairDisplay", sans-serif;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.pt-serif {
  font-family: "PT Serif", serif;
}
